@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

body {
	font-family: var(--theme-light-fonts-body);
	color: var(--theme-light-colours-black);
}

p,
span {
	letter-spacing: 1px;
	font-size: 0.9rem;
	line-height: 1.6471;
}

h2,
h3 {
	font-size: 1.1rem;
}

h1,
h2,
h3,
h4 {
	margin: 0;
}

.rich-text {
	max-width: 71ch;
	margin: auto;
}

.rich-text h2 {
	margin: 0 0 0;
	letter-spacing: 0.5px;
	font-size: 0.9rem;
}

.rich-text p {
	margin: 16px 0 0 16px;
	font-size: 0.9rem;
}

.rich-text p:last-child {
	margin-bottom: 32px;
}

.rich-text strong:nth-of-type(1n) {
	color: var(--theme-light-colours-primary-bold);
}

.rich-text strong:nth-of-type(2n) {
	color: var(--theme-light-colours-secondary-bold);
}
